* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;


}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 7px;
    /* background-color: #F5FFC9; */
    /* background: repeating-radial-gradient(
  circle,
  purple,
  purple 10px,
  #4b026f 10px, 
  #4b026f 20px
); */
    /* box-shadow: #0E8388; */
    

    background: repeating-linear-gradient(
        -55deg,
        #222,
        #222 10px,
        #333 10px,
        #333 20px
      );
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 1000;
    font-family: 'Gloock', serif;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 2px;
    height: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;

}

.skill {
    padding-left: 8px;
}

.skill h3:not(:first-child) {
    display: block;
    margin: 10px 0 3px 0;
}

.skill p {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    padding: 3px 6px;
    background-color: rgb(170, 255, 208);
    margin: 4px;
    text-transform: uppercase;

}

.title {
    padding: 5px;
    border-color: #1a021a;
    border-width: 0 0 2px 2px;
    color: rgb(10, 1, 1);
    border-style: solid;
    display: block;
    text-align: left;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.experience {
    padding: 0 2px 0px 2px;
    border-color: #272727;
    border-width: 0 0 0 5px;
    border-style: solid;
}

#name {
    text-align: center;
    /* margin-left:25px; */
    margin: 0px;
    padding: 0;
    letter-spacing: 10px;
    font-family: 'Roboto', serif;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Pacifico', cursive;
    /* color: #2c355e; */
    color: transparent;
    /* background-image: url('./name-test.jpg'); */
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #5562bb 10px,
        #465298 10px,
        #121229 20px
      );
    background-clip: text;
    -webkit-background-clip: text;
}

#bullet:before {
    content: "•";
    /* Insert content that looks like bullets */
    padding-right: px;
    color: rgb(57, 57, 99);
    font-weight: 700;
    font-size: 20px;
}

#bullet {
    padding: 0;
    margin: 0;
}

.project-h2 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.project-h2 i {
    font-size: 24px;
    color: #314083;
}

.portfolio-icon i {
    font-size: 22px;
    color: #00ff73;
}

.my-desc {
    font-size: 2.5vw;
    font-family: 'Gloock', serif;

}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-color: #dbf7fc;
}

.description {
    padding: 0 2% 0 2%;
    /* background-color: blue; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.portfolio-img {
    height: auto;
    width: 30vw;
    /* border-style:solid; */
}

.social-icons li {
    display: inline;
}


.social-icons li a i {
    font-size: 30px;
    padding: 9px;
}

.social-icons li a i:hover {
    font-size: 32px;
    padding: 7px;

    
}

#linkedin {
    color: #0077B5;
}

#github {
    color: #181717;
}

#mail {
    color: #D44638;
}

#bitbucket {
    color: #205081;
}

#name-footer{
 
    text-align: center;
    margin: 0px;
    padding: 0;
    letter-spacing: 3px;
    /* font-family: 'Roboto', serif; */
    font-size: 20px;
    font-weight: 900;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 239, 239);
    

}
footer{
  background-color: rgb(68, 68, 68);
  padding: 40px;
}
#name-footer  i:hover {
  font-size:30px;
  }